.env
app/__pycache__/
/hadoop/hadoop_readme.md
/hadoop/hadoop_commands.md
/howto.readme
.vscode
hadoop/data/
/spark/spark-warehouse
/spark/spark_commands.readme
/spark/spark_info.readme
/spark/__pycache__/
